<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etrans.bluetooth">

    <application
        android:name=".app.Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.etrans.bluetooth.ContactActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.etrans.bluetooth.CallogActivity"
            android:screenOrientation="landscape"
            android:label="@string/Callog"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <activity
            android:name="com.etrans.bluetooth.CallActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.etrans.bluetooth.TransparentActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <receiver android:name="com.etrans.bluetooth.Goc.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.etrans.bluetooth.Goc.GocsdkService"></service>
        <service android:name="com.etrans.bluetooth.Goc.PlayerService"></service>
        <service android:name="com.etrans.bluetooth.Goc.ScoService"></service>

    </application>

</manifest>